*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
CVS/
src/CVS/
src/main/CVS/
src/main/assets/CVS/
src/main/cpp/CVS/
src/main/cpp/include/CVS/
src/main/cpp/include/libavcodec/CVS/
src/main/cpp/include/libavdevice/CVS/
src/main/cpp/include/libavfilter/CVS/
src/main/cpp/include/libavformat/CVS/
src/main/cpp/include/libavutil/CVS/
src/main/cpp/include/libpostproc/CVS/
src/main/cpp/include/libswresample/CVS/
src/main/cpp/include/libswscale/CVS/
src/main/java/CVS/
src/main/java/com/CVS/
src/main/java/com/master/CVS/
src/main/java/com/master/app/CVS/
src/main/java/com/master/app/Manager/CVS/
src/main/java/com/master/app/inter/CVS/
src/main/java/com/master/app/orm/CVS/
src/main/java/com/master/app/tools/CVS/
src/main/java/com/master/app/weight/CVS/
src/main/java/com/master/bean/CVS/
src/main/java/com/master/contract/CVS/
src/main/java/com/master/dao/
src/main/java/com/master/model/CVS/
src/main/java/com/master/ppareit/CVS/
src/main/java/com/master/ppareit/android/CVS/
src/main/java/com/master/ppareit/swiftp/CVS/
src/main/java/com/master/ppareit/swiftp/server/CVS/
src/main/java/com/master/presenter/CVS/
src/main/java/com/master/ui/CVS/
src/main/java/com/master/ui/activity/CVS/
src/main/java/com/master/ui/activity/map/CVS/
src/main/java/com/master/ui/adapter/CVS/
src/main/java/com/master/ui/fragment/CVS/
src/main/java/com/master/ui/fragment/attr/CVS/
src/main/java/com/master/ui/fragment/home/CVS/
src/main/java/com/master/ui/fragment/map/CVS/
src/main/java/com/master/ui/fragment/setting/CVS/
src/main/java/com/master/ui/viewer/CVS/
src/main/res/CVS/
src/main/res/anim/CVS/
src/main/res/animator/CVS/
src/main/res/color/CVS/
src/main/res/drawable-hdpi/CVS/
src/main/res/drawable-mdpi/CVS/
src/main/res/drawable-xhdpi/CVS/
src/main/res/drawable-xxhdpi/CVS/
src/main/res/drawable-xxxhdpi/CVS/
src/main/res/drawable/CVS/
src/main/res/layout/CVS/
src/main/res/menu/CVS/
src/main/res/mipmap-xhdpi/CVS/
src/main/res/values-w820dp/CVS/
src/main/res/values/CVS/
/app/build/
.idea/CVS/
.idea/copyright/CVS/
.idea/inspectionProfiles/CVS/
.idea/shelf/
app/CVS/
app/src/CVS/
app/src/main/CVS/
app/src/main/assets/CVS/
app/src/main/cpp/CVS/
app/src/main/cpp/include/CVS/
app/src/main/cpp/include/libavcodec/CVS/
app/src/main/cpp/include/libavdevice/CVS/
app/src/main/cpp/include/libavfilter/CVS/
app/src/main/cpp/include/libavformat/CVS/
app/src/main/cpp/include/libavutil/CVS/
app/src/main/cpp/include/libpostproc/CVS/
app/src/main/cpp/include/libswresample/CVS/
app/src/main/cpp/include/libswscale/CVS/
app/src/main/java/CVS/
app/src/main/java/com/CVS/
app/src/main/java/com/master/CVS/
app/src/main/java/com/master/app/CVS/
app/src/main/java/com/master/app/Manager/CVS/
app/src/main/java/com/master/app/inter/CVS/
app/src/main/java/com/master/app/orm/CVS/
app/src/main/java/com/master/app/tools/CVS/
app/src/main/java/com/master/app/weight/CVS/
app/src/main/java/com/master/bean/CVS/
app/src/main/java/com/master/contract/CVS/
app/src/main/java/com/master/dao/
app/src/main/java/com/master/model/CVS/
app/src/main/java/com/master/ppareit/CVS/
app/src/main/java/com/master/ppareit/android/CVS/
app/src/main/java/com/master/ppareit/swiftp/CVS/
app/src/main/java/com/master/ppareit/swiftp/server/CVS/
app/src/main/java/com/master/presenter/CVS/
app/src/main/java/com/master/ui/CVS/
app/src/main/java/com/master/ui/activity/CVS/
app/src/main/java/com/master/ui/activity/map/CVS/
app/src/main/java/com/master/ui/adapter/CVS/
app/src/main/java/com/master/ui/fragment/CVS/
app/src/main/java/com/master/ui/fragment/attr/CVS/
app/src/main/java/com/master/ui/fragment/home/CVS/
app/src/main/java/com/master/ui/fragment/map/CVS/
app/src/main/java/com/master/ui/fragment/setting/CVS/
app/src/main/java/com/master/ui/viewer/CVS/
app/src/main/res/CVS/
app/src/main/res/anim/CVS/
app/src/main/res/animator/CVS/
app/src/main/res/color/CVS/
app/src/main/res/drawable-hdpi/CVS/
app/src/main/res/drawable-mdpi/CVS/
app/src/main/res/drawable-xhdpi/CVS/
app/src/main/res/drawable-xxhdpi/CVS/
app/src/main/res/drawable-xxxhdpi/CVS/
app/src/main/res/drawable/CVS/
app/src/main/res/layout/CVS/
app/src/main/res/menu/CVS/
app/src/main/res/mipmap-xhdpi/CVS/
app/src/main/res/values-w820dp/CVS/
app/src/main/res/values/CVS/
gradle/CVS/
gradle/wrapper/CVS/
/build/
